body {margin: 0; padding: 0;}


.part {
	opacity: .3;
}

.part:hover {
	transition: opacity .2s ease;
	opacity: .5;
	cursor: pointer;
}

.description img {
	width: 250px;
	margin-bottom: 20px;
}

.responsive {
    width: 100%;
    height: auto;
}

.description_svg {
	display:none;
	position: absolute;
	padding: 20px;
	box-sizing: border-box;
	width: 300px;
	height: 400px;
	box-shadow: 0 0 32px 10px #ccc;
	right: 250px;
	top: 50px;
	font-family: sans-serif;
}