body {margin: 0; padding: 0;}


.part {
	opacity: .3;
}

.part:hover {
	transition: opacity .2s ease;
	opacity: .5;
	cursor: pointer;
}



.description img {
	width: 250px;
	margin-bottom: 20px;
}

.responsive {
    width: 100%;
    height: auto;
}
